.home{
  .section{
      .video{
        margin: 50px auto;
        background-image: url(../icon/banner.jpg);
        background-size: cover;
        background-position:center;
        width: 95%;
        height: 800px;
        border-radius: 48px;
        position: relative;
        
      }
  }

}